include dotctrl/*
include AUTHORS.rst
include CODE_OF_CONDUCT.md
include CONTRIBUTING.rst
include CHANGELOG.rst
include LICENSE
include README.rst
include requirements_dev.txt
include requirements.txt

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py *.jpg *.png *.gif