[tool.poetry]
name = "dotctrl"
version = "1.1.3"
description = "Dotctrl is a package for managing your dotfiles on Linux."
authors = ["William C. Canin <william.costa.canin@gmail.com>"]
readme = "README.rst"
license = "MIT license"
keywords=["dotfiles", "snakypy", "dot", "linux"]
homepage = "https://github.com/snakypy/dotctrl"
repository = "https://github.com/snakypy/dotctrl"
include = ["LICENSE"]

classifiers = [
    "Intended Audience :: Developers",
    "Environment :: Console",
    "License :: OSI Approved :: MIT License",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: Python :: 3"
]

packages = [
    { include = "dotctrl" }
]

[tool.poetry.scripts]
dotctrl = "dotctrl.cli:main"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/snakypy/dotctrl/issues"

[tool.poetry.dependencies]
python = "^3.8"
snakypy = "^0.3.6"
docopt = "^0.6.2"

[tool.poetry.dev-dependencies]
twine = "^3.1.1"
wheel = "^0.34.2"
flake8 = "^3.7.9"
tox = "^3.14.5"
pytest = "^5.3.5"
pytest-runner = "^5.2"
ipython = "^7.13.0"
black = "^19.10b0"
eqversion = "^0.1.2"
pre-commit = "^2.2.0"


[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
