appdirs==1.4.3
appnope==0.1.0; sys_platform == "darwin"
atomicwrites==1.3.0; sys_platform == "win32"
attrs==19.3.0
backcall==0.1.0
black==19.10b0
bleach==3.1.3
certifi==2019.11.28
cffi==1.14.0; sys_platform == "linux"
chardet==3.0.4
click==7.1.1
colorama==0.4.3; platform_system == "Windows" or sys_platform == "win32"
cryptography==2.8; sys_platform == "linux"
decorator==4.4.2
distlib==0.3.0
docopt==0.6.2
docutils==0.16
entrypoints==0.3
filelock==3.0.12
flake8==3.7.9
idna==2.9
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.16.0
jeepney==0.4.3; sys_platform == "linux"
keyring==21.2.0
mccabe==0.6.1
more-itertools==8.2.0
packaging==20.3
parso==0.6.2
pathspec==0.7.0
pexpect==4.8.0; sys_platform != "win32"
pickleshare==0.7.5
pkginfo==1.5.0.1
pluggy==0.13.1
prompt-toolkit==3.0.4
ptyprocess==0.6.0; sys_platform != "win32"
py==1.8.1
pycodestyle==2.5.0
pycparser==2.20; sys_platform == "linux"
pyfiglet==0.8.post1
pyflakes==2.1.1
pygments==2.6.1
pyparsing==2.4.6
pytest==5.4.1
pytest-runner==5.2
pywin32-ctypes==0.2.0; sys_platform == "win32"
readme-renderer==25.0
regex==2020.2.20
requests==2.23.0
requests-toolbelt==0.9.1
secretstorage==3.1.2; sys_platform == "linux"
six==1.14.0
snakypy==0.3.4
toml==0.10.0
tomlkit==0.5.11
tox==3.14.5
tqdm==4.43.0
traitlets==4.3.3
twine==3.1.1
typed-ast==1.4.1
urllib3==1.25.8
virtualenv==20.0.13
wcwidth==0.1.8
webencodings==0.5.1
wheel==0.34.2
